.markethead {
    position: relative;
    height:60px;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(187, 187, 187);
    font-size: 26pt;
}

.markethead > .sidemenu {
    width:74px;
    height:60px;
    position: absolute;
    top:0;
    left:0;
    text-shadow: none;
}
.marketlist {
    max-width:1500px;
    width:1500px;
    margin:0 auto;
}
.marketlist > ul {
    font-size:0;
    list-style-type: none;
    margin: 0px;
    padding: 50px;
}
.marketlist > ul > li {
    display:inline-block;
    vertical-align:top;
    width:25%;
}
.marketlist > ul > li > a {
    display:block;
    width:auto;
    text-decoration: none;
    margin:20px;
}
.marketlist > ul > li > a .screen {
    position:relative;
    overflow:hidden;
}
.marketlist > ul > li > a .screen .top {
    position:absolute;
    bottom:150%;
    left:30px;
    z-index:2;
    color:#fff;
    font-size:26px;
    font-weight:900;
    transition:all .35s;
}
.marketlist > ul > li > a .screen .bottom {
    position:absolute;
    top:150%;
    left:30px;
    z-index:2;
    color:#fff;
    font-size:12px;
    transition:all .35s;
}
.marketlist > ul > li > a .screen img {
    width:300px;
    height: 200px;
}
.marketlist > ul > li > a h3 {
    font-size:14px;
    text-align:center;
    padding:20px;
    color:#666;
}
.marketlist > ul > li > a .screen::after {
    content:'';
    display:block;
    position:absolute;
    top:0;left:0;
    width:300px;
    height:100%;
    background:rgba(0,0,0,.5);
    z-index:1;
    opacity:0;
    transition:all .35s;
}
.marketlist > ul > li > a:hover .top {
    bottom:52%;
}
.marketlist > ul > li > a:hover .bottom {
    top:52%;
}
.marketlist > ul > li > a:hover .screen::after {
    opacity:1;
}

.menu_modalout{ 
    position:absolute;
    width:280px; 
    height:700px; 
    background: rgb(255, 255, 255); 
    top:0; left:0;
    z-index: 3;
    border:1px solid rgb(161, 161, 161);
}

.menu_modalin{
    width:280px; 
    height:500px; 
    border-radius:10px;
    position:relative; 
    text-align:center;
    box-sizing:border-box; 
    cursor:pointer;
}

.side_xxx {
    border:2px solid black;
    border-radius: 50%;
    position: absolute;
    right: 8px; top: 8px;
    width:35px;
    height:35px;
    line-height:20px;
    text-shadow: none;
}

.slide-fade-enter-active {
    transition: all .2s linear;
}
.slide-fade-leave-active {
    transition: all .2s linear;
}

.sidemenu > ion-icon {
    font-size: 50px;
}

@media(max-width:755px){
    .marketlist {
        max-width:750px;
        width:700px;
        margin:0 auto;
    }
    .marketlist > ul > li {
        display:inline-block;
        vertical-align:top;
        width:50%;
    }
}